In [23]:
from pypair import Tournament

import random
import os

import pandas as pd

In [25]:
home = os.path.expanduser("~")

In [26]:
home

'C:\\Users\\Usamah'

In [27]:
to = Tournament()
to

In [28]:
to.loadPlayersCSV("playerlist.csv")

In [29]:
to.playersDict

{256: {'Name': 'Jeff',
  'Opponents': [],
  'Results': [],
  'Points': 0,
  'OMW%': 0.0,
  'Fixed Seating': False},
 4: {'Name': 'Timmy',
  'Opponents': [],
  'Results': [],
  'Points': 0,
  'OMW%': 0.0,
  'Fixed Seating': False},
 12345: {'Name': 'John',
  'Opponents': [],
  'Results': [],
  'Points': 0,
  'OMW%': 0.0,
  'Fixed Seating': False},
 6492: {'Name': 'Blarg',
  'Opponents': [],
  'Results': [],
  'Points': 0,
  'OMW%': 0.0,
  'Fixed Seating': False},
 342: {'Name': 'Yeti',
  'Opponents': [],
  'Results': [],
  'Points': 0,
  'OMW%': 0.0,
  'Fixed Seating': False},
 57: {'Name': 'Yugen',
  'Opponents': [],
  'Results': [],
  'Points': 0,
  'OMW%': 0.0,
  'Fixed Seating': False},
 8769: {'Name': 'Blogger',
  'Opponents': [],
  'Results': [],
  'Points': 0,
  'OMW%': 0.0,
  'Fixed Seating': False},
 123: {'Name': 'Kelly',
  'Opponents': [],
  'Results': [],
  'Points': 0,
  'OMW%': 0.0,
  'Fixed Seating': False},
 9876: {'Name': 'Clark',
  'Opponents': [],
  'Results': [],
  'Points': 0,
  'OMW%': 0.0,
  'Fixed Seating': False},
 132131: {'Name': 'James',
  'Opponents': [],
  'Results': [],
  'Points': 0,
  'OMW%': 0.0,
  'Fixed Seating': False},
 12351: {'Name': 'Jonny',
  'Opponents': [],
  'Results': [],
  'Points': 0,
  'OMW%': 0.0,
  'Fixed Seating': False},
 9: {'Name': 'Jacob',
  'Opponents': [],
  'Results': [],
  'Points': 0,
  'OMW%': 0.0,
  'Fixed Seating': 1},
 7: {'Name': 'Kristi',
  'Opponents': [],
  'Results': [],
  'Points': 0,
  'OMW%': 0.0,
  'Fixed Seating': 2},
 1283123: {'Name': 'Brian',
  'Opponents': [],
  'Results': [],
  'Points': 0,
  'OMW%': 0.0,
  'Fixed Seating': False},
 87649: {'Name': 'Johnson',
  'Opponents': [],
  'Results': [],
  'Points': 0,
  'OMW%': 0.0,
  'Fixed Seating': False},
 12314123: {'Name': 'Kenny',
  'Opponents': [],
  'Results': [],
  'Points': 0,
  'OMW%': 0.0,
  'Fixed Seating': False},
 87674: {'Name': 'Carrie',
  'Opponents': [],
  'Results': [],
  'Points': 0,
  'OMW%': 0.0,
  'Fixed Seating': False}}

In [30]:
pairings1 = to.pairRound()
pairings1

{1: [8769, 256],
 2: [7, 9],
 3: [12351, 6492],
 4: [12314123, 342],
 5: [132131, 57],
 6: [87674, 1283123],
 7: [123, 12345],
 8: [87649, 4]}

In [31]:
for table in pairings1:
    print(table)
    if not type(pairings1[table]) is str:
        per = random.randint(1, 100)
        if per < 25:
            to.reportMatch(table, [2,0,0])
        elif per < 47:
            to.reportMatch(table, [2,1,0])
        elif per < 60:
            to.reportMatch(table, [0,2,0])
        elif per < 97:
            to.reportMatch(table, [1,2,0])
        elif per < 98:
            to.reportMatch(table, [0,0,1])
        else:
            to.reportMatch(table, [1,1,1])

1
2
3
4
5
6
7
8

In [13]:
to.saveEventData("%s/datadump1.txt"%home)

In [32]:
pairings2 = to.pairRound()
pairings2

{3: [256, 12345],
 6: [12314123, 12351],
 7: [4, 87674],
 8: [87649, 132131],
 2: [7, 57],
 1: [8769, 9],
 4: [9876, 342],
 5: [1283123, 6492]}

In [33]:
for table in pairings2:
    print(table)
    if not type(pairings2[table]) is str:
        per = random.randint(1, 100)
        if per < 25:
            to.reportMatch(table, [2,0,0])
        elif per < 47:
            to.reportMatch(table, [2,1,0])
        elif per < 60:
            to.reportMatch(table, [0,2,0])
        elif per < 97:
            to.reportMatch(table, [1,2,0])
        elif per < 98:
            to.reportMatch(table, [0,0,1])
        else:
            to.reportMatch(table, [1,1,1])

3
6
7
8
2
1
4
5

In [38]:
to.playersDict

{256: {'Name': 'Jeff',
  'Opponents': [8769, 12345],
  'Results': [[2, 1, 0], [2, 0, 0]],
  'Points': 6,
  'OMW%': '0.41500',
  'Fixed Seating': False},
 4: {'Name': 'Timmy',
  'Opponents': [87649, 87674],
  'Results': [[2, 1, 0], [1, 1, 1]],
  'Points': 4,
  'OMW%': '0.41500',
  'Fixed Seating': False},
 12345: {'Name': 'John',
  'Opponents': [123, 256],
  'Results': [[2, 1, 0], [0, 2, 0]],
  'Points': 3,
  'OMW%': '0.75000',
  'Fixed Seating': False},
 6492: {'Name': 'Blarg',
  'Opponents': [12351, 1283123],
  'Results': [[2, 0, 0], [2, 0, 0]],
  'Points': 6,
  'OMW%': '0.41500',
  'Fixed Seating': False},
 342: {'Name': 'Yeti',
  'Opponents': [12314123, 9876],
  'Results': [[2, 0, 0], [1, 2, 0]],
  'Points': 3,
  'OMW%': '0.75000',
  'Fixed Seating': False},
 57: {'Name': 'Yugen',
  'Opponents': [132131, 7],
  'Results': [[2, 1, 0], [1, 2, 0]],
  'Points': 3,
  'OMW%': '0.66500',
  'Fixed Seating': False},
 8769: {'Name': 'Blogger',
  'Opponents': [256, 9],
  'Results': [[1, 2, 0], [0, 2, 0]],
  'Points': 0,
  'OMW%': '0.75000',
  'Fixed Seating': False},
 123: {'Name': 'Kelly',
  'Opponents': [12345, 'bye'],
  'Results': [[1, 2, 0], [0, 0, 0]],
  'Points': 3,
  'OMW%': '0.50000',
  'Fixed Seating': False},
 9876: {'Name': 'Clark',
  'Opponents': ['bye', 342],
  'Results': [[0, 0, 0], [2, 1, 0]],
  'Points': 6,
  'OMW%': '0.50000',
  'Fixed Seating': False},
 132131: {'Name': 'James',
  'Opponents': [57, 87649],
  'Results': [[1, 2, 0], [0, 2, 0]],
  'Points': 0,
  'OMW%': '0.50000',
  'Fixed Seating': False},
 12351: {'Name': 'Jonny',
  'Opponents': [6492, 12314123],
  'Results': [[0, 2, 0], [1, 2, 0]],
  'Points': 0,
  'OMW%': '0.75000',
  'Fixed Seating': False},
 9: {'Name': 'Jacob',
  'Opponents': [7, 8769],
  'Results': [[1, 2, 0], [2, 0, 0]],
  'Points': 3,
  'OMW%': '0.66500',
  'Fixed Seating': 1},
 7: {'Name': 'Kristi',
  'Opponents': [9, 57],
  'Results': [[2, 1, 0], [2, 1, 0]],
  'Points': 6,
  'OMW%': '0.50000',
  'Fixed Seating': 2},
 1283123: {'Name': 'Brian',
  'Opponents': [87674, 6492],
  'Results': [[2, 1, 0], [0, 2, 0]],
  'Points': 3,
  'OMW%': '0.66500',
  'Fixed Seating': False},
 87649: {'Name': 'Johnson',
  'Opponents': [4, 132131],
  'Results': [[1, 2, 0], [2, 0, 0]],
  'Points': 3,
  'OMW%': '0.49833',
  'Fixed Seating': False},
 12314123: {'Name': 'Kenny',
  'Opponents': [342, 12351],
  'Results': [[0, 2, 0], [2, 1, 0]],
  'Points': 3,
  'OMW%': '0.41500',
  'Fixed Seating': False},
 87674: {'Name': 'Carrie',
  'Opponents': [1283123, 4],
  'Results': [[1, 2, 0], [1, 1, 1]],
  'Points': 1,
  'OMW%': '0.58333',
  'Fixed Seating': False}}

In [79]:
def league_table(tournament):
    league_table = pd.DataFrame(columns = ['ID','Name','Opponents','Results','Points','OMW%', 'Fixed Seating'])

    for player in to.playersDict:
        player_data = list(to.playersDict[player].values())
        player_data.insert(0, player)
        league_table.loc[len(league_table)] = player_data

    return league_table.sort_values(by=['Points','OMW%'], ascending = False).reset_index(drop=True)

In [58]:
pairings3 = to.pairRound()
pairings3

{4: [12314123, 1283123],
 5: [342, 57],
 6: [12345, 87649],
 7: [123, 87674],
 8: [132131, 8769],
 2: [7, 9876],
 1: [6492, 256]}

In [62]:
for table in pairings3:
    print(table)
    print(pairings3[table])
    p1 = pairings3[table][0]
    p2 = pairings3[table][1]
    
    if not type(pairings3[table]) is str:
        per = random.randint(1, 100)
        if per < 25:
            to.reportMatch(table, [2,0,p1])
        elif per < 47:
            to.reportMatch(table, [2,1,p1])
        elif per < 60:
            to.reportMatch(table, [0,2,p2])
        elif per < 97:
            to.reportMatch(table, [1,2,p2])
        elif per < 98:
            to.reportMatch(table, [0,0,'D'])
        else:
            to.reportMatch(table, [1,1,'D'])

4
[12314123, 1283123]
5
[342, 57]
6
[12345, 87649]
7
[123, 87674]
8
[132131, 8769]
2
[7, 9876]
1
[6492, 256]

In [80]:
league_table(to)

,ID,Name,Opponents,Results,Points,OMW%,Fixed Seating
0,6492,Blarg,"[12351, 1283123, 256, 9876]","[[2, 0, 0], [2, 0, 0], [2, 1, 6492]]",9,0.55556,False
1,9876,Clark,"[bye, 342, 7, 6492]","[[0, 0, 0], [2, 1, 0], [2, 0, 9876]]",9,0.50000,False
2,7,Kristi,"[9, 57, 9876, 256]","[[2, 1, 0], [2, 1, 0], [0, 2, 9876]]",6,0.66667,2
3,256,Jeff,"[8769, 12345, 6492, 7]","[[2, 1, 0], [2, 0, 0], [1, 2, 6492]]",6,0.55556,False
4,1283123,Brian,"[87674, 6492, 12314123, 57]","[[2, 1, 0], [0, 2, 0], [2, 1, 1283123]]",6,0.55444,False
5,57,Yugen,"[132131, 7, 342, 1283123]","[[2, 1, 0], [1, 2, 0], [2, 1, 57]]",6,0.44333,False
6,87649,Johnson,"[4, 132131, 12345, 123]","[[1, 2, 0], [2, 0, 0], [2, 1, 87649]]",6,0.36926,False
7,123,Kelly,"[12345, bye, 87674, 87649]","[[1, 2, 0], [0, 0, 0], [2, 0, 123]]",6,0.33167,False
8,4,Timmy,"[87649, 87674, 9, 12351]","[[2, 1, 0], [1, 1, 1]]",4,0.44333,False
9,12345,John,"[123, 256, 87649, 8769]","[[2, 1, 0], [0, 2, 0], [1, 2, 87649]]",3,0.66667,False
10,342,Yeti,"[12314123, 9876, 57, 87674]","[[2, 0, 0], [1, 2, 0], [1, 2, 57]]",3,0.66667,False
11,12351,Jonny,"[6492, 12314123, bye, 4]","[[0, 2, 0], [1, 2, 0], [0, 0, 0]]",3,0.66667,False
12,132131,James,"[57, 87649, 8769, bye]","[[1, 2, 0], [0, 2, 0], [0, 2, 8769], [0, 0, 0]]",3,0.55556,False
13,9,Jacob,"[7, 8769, 4, 12314123]","[[1, 2, 0], [2, 0, 0]]",3,0.48148,1
14,12314123,Kenny,"[342, 12351, 1283123, 9]","[[0, 2, 0], [2, 1, 0], [1, 2, 1283123]]",3,0.44444,False
15,8769,Blogger,"[256, 9, 132131, 12345]","[[1, 2, 0], [0, 2, 0], [2, 0, 8769]]",3,0.44333,False
16,87674,Carrie,"[1283123, 4, 123, 342]","[[1, 2, 0], [1, 1, 1], [0, 2, 123]]",1,0.59259,False

In [78]:
pairings = to.pairRound()
pairings

{3: [123, 87649],
 5: [4, 12351],
 6: [12345, 8769],
 8: [342, 87674],
 2: [7, 256],
 1: [12314123, 9],
 4: [1283123, 57],
 7: [9876, 6492]}

In [81]:
for table in pairings:
    print(table)
    print(pairings[table])
    p1 = pairings[table][0]
    p2 = pairings[table][1]
    
    if not type(pairings[table]) is str:
        per = random.randint(1, 100)
        if per < 25:
            to.reportMatch(table, [2,0,p1])
        elif per < 47:
            to.reportMatch(table, [2,1,p1])
        elif per < 60:
            to.reportMatch(table, [0,2,p2])
        elif per < 97:
            to.reportMatch(table, [1,2,p2])
        elif per < 98:
            to.reportMatch(table, [0,0,'D'])
        else:
            to.reportMatch(table, [1,1,'D'])

3
[123, 87649]
5
[4, 12351]
6
[12345, 8769]
8
[342, 87674]
2
[7, 256]
1
[12314123, 9]
4
[1283123, 57]
7
[9876, 6492]

In [85]:
league_table(to)

,ID,Name,Opponents,Results,Points,OMW%,Fixed Seating
0,6492,Blarg,"[12351, 1283123, 256, 9876]","[[2, 0, 0], [2, 0, 0], [2, 1, 6492], [2, 0, 64...",12,0.60333,False
1,9876,Clark,"[bye, 342, 7, 6492]","[[0, 0, 0], [2, 1, 0], [2, 0, 9876], [0, 2, 64...",9,0.61000,False
2,256,Jeff,"[8769, 12345, 6492, 7]","[[2, 1, 0], [2, 0, 0], [1, 2, 6492], [2, 1, 256]]",9,0.58250,False
3,87649,Johnson,"[4, 132131, 12345, 123]","[[1, 2, 0], [2, 0, 0], [2, 1, 87649], [2, 0, 8...",9,0.47833,False
4,1283123,Brian,"[87674, 6492, 12314123, 57]","[[2, 1, 0], [0, 2, 0], [2, 1, 1283123], [0, 0,...",7,0.60417,False
5,4,Timmy,"[87649, 87674, 9, 12351]","[[2, 1, 0], [1, 1, 1], [2, 0, 4]]",7,0.43583,False
6,57,Yugen,"[132131, 7, 342, 1283123]","[[2, 1, 0], [1, 2, 0], [2, 1, 57], [0, 0, D]]",7,0.43583,False
7,7,Kristi,"[9, 57, 9876, 256]","[[2, 1, 0], [2, 1, 0], [0, 2, 9876], [1, 2, 256]]",6,0.60333,2
8,12345,John,"[123, 256, 87649, 8769]","[[2, 1, 0], [0, 2, 0], [1, 2, 87649], [2, 1, 1...",6,0.58250,False
9,123,Kelly,"[12345, bye, 87674, 87649]","[[1, 2, 0], [0, 0, 0], [2, 0, 123], [0, 2, 876...",6,0.52778,False
10,12314123,Kenny,"[342, 12351, 1283123, 9]","[[0, 2, 0], [2, 1, 0], [1, 2, 1283123], [2, 0,...",6,0.39333,False
11,87674,Carrie,"[1283123, 4, 123, 342]","[[1, 2, 0], [1, 1, 1], [0, 2, 123], [2, 1, 876...",4,0.49917,False
12,12351,Jonny,"[6492, 12314123, bye, 4]","[[0, 2, 0], [1, 2, 0], [0, 0, 0], [0, 2, 4]]",3,0.69444,False
13,132131,James,"[57, 87649, 8769, bye]","[[1, 2, 0], [0, 2, 0], [0, 2, 8769], [0, 0, 0]]",3,0.55444,False
14,342,Yeti,"[12314123, 9876, 57, 87674]","[[2, 0, 0], [1, 2, 0], [1, 2, 57], [1, 2, 87674]]",3,0.54167,False
15,9,Jacob,"[7, 8769, 4, 12314123]","[[1, 2, 0], [2, 0, 0], [0, 2, 12314123]]",3,0.47833,1
16,8769,Blogger,"[256, 9, 132131, 12345]","[[1, 2, 0], [0, 2, 0], [2, 0, 8769], [1, 2, 12...",3,0.47750,False

[1, 0, 1, 2, 3]